<div class="page-container">
  <h1>Create a new challenge</h1>
  <section class="section">
    @let attributesResult = attributes();

    <form class="create-challenge-form" [formGroup]="form" (ngSubmit)="createChallenge()">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" formControlName="description" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Attribute</mat-label>
        @if (attributesResult === undefined) {
          <mat-select formControlName="attributeId" [disabled]="true">
            <mat-option>Loading...</mat-option>
          </mat-select>
        } @else if (attributesResult.success) {
          <mat-select formControlName="attributeId">
            <mat-option [value]="null" disabled>Select attribute</mat-option>
            @for (attribute of attributesResult.result; track attribute.id) {
              <mat-option [value]="attribute.id">{{ attribute.name }}</mat-option>
            }
          </mat-select>
        } @else {
          <p>Failed to load attributes: {{ attributesResult.error.message }}</p>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="" disabled>Select type</mat-option>
          @for (type of challengeTypes; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Score</mat-label>
        <input type="number" formControlName="score" min="1" matInput />
      </mat-form-field>

      @if (submitError()) {
        <p>{{ submitError() }}</p>
      }

      <button type="submit" [disabled]="form.invalid" matButton="filled">Create Challenge</button>
    </form>
  </section>
</div>
