@let playerList = players();
<section>
  <h1>Players</h1>
  <form [formGroup]="addPlayerForm" (ngSubmit)="addPlayer()">
    <label>
      Player Code
      <input type="text" formControlName="playerCode" />
    </label>
    <button type="submit">Add</button>
    <span>{{ addResult() }}</span>
  </form>
  @for (player of playerList; track player.id) {
    <button (click)="removePlayer(player.id)">
      {{ player.playerCode }}
    </button>
  }
</section>
<section>
  @let assignErrorText = assignError();
  @let assignResultData = assignResult();
  @if (assignResultData === null) {
    <h1>Challenges</h1>
    <p>{{ assignErrorText }}</p>
    <ng-container *appLoadSignal="challenges(); let challenges">
      @for (challenge of challenges; track challenge.id) {
        <div style="background-color: gainsboro; margin: 5px">
          <p>{{ challenge.attribute.name }}</p>
          <p>{{ challenge.description }}</p>
          <p>{{ challenge.type | titlecase }}</p>
          <p>{{ challenge.score }}</p>
          @if (playerList.length === 0) {
            <p>Add a player above to assign a challenge</p>
          } @else if (challenge.type === 'ADVERSARIAL' && playerList.length < 2) {
            <p>At least 2 players required for Adverserial challenges, add another above</p>
          } @else if (playerList.length > 0) {
            <button (click)="assignChallenge(challenge.id, playerList)">Assign challenge</button>
          }
        </div>
      } @empty {
        <p>Player has completed all challenges, create a new one below.</p>
      }
    </ng-container>
    <a routerLink="/admin/challenges/create" [queryParams]="{ playerCodes: playerCodes() }"
      >Create a new challenge</a
    >
  } @else {
    <h2>Created challenges:</h2>
    @for (result of assignResultData; track result.challengeInstance.id) {
      <a routerLink="/admin/challenge-instances/{{ result.challengeInstance.id }}/resolve">
        <span>Click to go to challenge resolution for this instance</span>
        @for (player of result.players; track player.id) {
          <p>{{ player.name }}</p>
          <p>{{ player.playerCode }}</p>
        }
      </a>
    }
  }
</section>
