@use 'mixins' as *;
.participant-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;

  .winners-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .participant {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      @include outline;
      padding: 0.5rem;
      align-items: center;
      justify-content: space-between;
    }
  }
}
