<div class="page-container">
  <section class="section">
    <h1>Challenge Instance</h1>
    <ng-container *appLoadSignal="challengeInstance(); let challengeInstance">
      <h2>{{ challengeInstance.challenge.description }}</h2>
      @if (unresolved()) {
        <button (click)="markAsFailed(challengeInstance.id)" matButton="filled">
          Mark as failed
        </button>
      }
      <div class="participant-container">
        @let winnerForm = winnersForm();
        @let adversarial = challengeInstance.challenge.type === 'ADVERSARIAL';
        <h3>Players:</h3>
        @if (winnerForm) {
          <form class="winners-form" (ngSubmit)="setAdversarialWinners(challengeInstance, winnerForm)" [formGroup]="winnerForm">
            @for (participant of challengeInstance.participants; track participant.id) {
              <div class="participant">
                <a routerLink="/admin/players/{{ participant.playerId }}">{{
                  participant.player.name
                }}</a>
                @switch (participant.status) {
                  @case ('OPEN') {
                    @if (adversarial) {
                      <mat-checkbox formControlName="{{ participant.playerId }}"
                        >Select as Winner</mat-checkbox
                      >
                    } @else {
                      <button
                        (click)="setWinner(participant.player, challengeInstance.id)"
                        matButton="filled"
                        type="button"
                      >
                        Set Winner
                      </button>
                    }
                  }
                  @case ('COMPLETED') {
                    <p>Winner!</p>
                  }
                  @case ('FAILED') {
                    <p>Failed...</p>
                  }
                }
              </div>
            }

            @if (adversarial) {
              <!-- disable -->
              <button matButton="filled">Set Winners</button>
            }
          </form>
        }
      </div>
    </ng-container>
  </section>
</div>
