@let leaderboardData = leaderboard();
<div class="leaderboard">
  <div class="header">
    <h2>
      {{ leaderboardData.title.description }}
    </h2>
    <div class="attributes">
      @for (requirement of leaderboardData.title.requirements; track $index) {
        @let attributeIcon = attributeIcons[requirement.attributeId];
        <mat-icon
          aria-hidden="false"
          aria-label="{{ requirement.attribute.name }}"
          fontIcon="{{ attributeIcon }}"
          matTooltip="{{ requirement.attribute.name }}"
        ></mat-icon>
      }
    </div>
  </div>
  <div class="leaderboard-row-container">
    @for (row of leaderboardRows(); track $index; let index = $index) {
      <div class="leaderboard-row" [ngClass]="{ 'bg-success': row.currentPlayer }">
        <span>
          {{ row.position }}
        </span>
        <span>
          {{ row.name }}
        </span>

        <div class="score-container">
          @for (score of row.attributeScores; track score.id) {
            @let attributeIcon = attributeIcons[score.attributeId];

            <div class="score">
              <mat-icon
                aria-hidden="false"
                aria-label="{{ score.attribute.name }}"
                fontIcon="{{ attributeIcon }}"
                matTooltip="{{ score.attribute.name }}"
              ></mat-icon>
              {{ score.score }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
