@let leaderboardData = leaderboard();
<div style="display: flex; align-items: center">
  <h2>{{ leaderboardData.title.name }} - {{ leaderboardData.title.name }}</h2>
</div>
<div>
  @for (player of leaderboardData.players; track player.id; let index = $index) {
    <div
      style="display: flex; gap: 1rem"
      class="{{ leaderboardData.currentPlayerPosition === $index + 1 ? 'current-player' : '' }}"
    >
      <span>{{ $index + 1 }}</span>
      <span>{{ player.name }}</span>
    </div>
  }
  @if (
    leaderboardData.currentPlayerPosition &&
    leaderboardData.currentPlayerPosition > leaderboardData.players.length
  ) {
    <div style="display: flex; gap: 1rem" class="current-player">
      <span>{{ leaderboardData.currentPlayerPosition }}</span>
      <span>{{ user().name }}</span>
    </div>
  }
</div>
