<div class="page-container">
  <div class="section">
    <form class="set-name-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Your name</mat-label>
        <input formControlName="name" type="text" placeholder="Your name" matInput />
      </mat-form-field>
      <button type="submit" [disabled]="form.invalid" matButton="filled">Set Name</button>
      @if (error()) {
        <span class="error-text">{{ error() }}</span>
      }
    </form>
  </div>
</div>
