@use 'mixins' as *;

.challenge-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--mat-sys-surface-container);
  @include outline;
  padding: 0.5rem;

  .header {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    gap: 1.5rem;

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      @include outline;
      padding: 0.5rem;
      min-width: 100px;

      span {
        white-space: nowrap;
      }
    }
  }

  .table-header {
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .player-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include outline;
    overflow: hidden;

    .player {
      width: 100%;
      padding: 0.5rem;

      &:not(:last-child) {
        border-bottom: solid 1px var(--mat-sys-outline);
      }
    }
  }
}
