@use 'mixins' as *;

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.challenge-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.challenge {
  width: 100%;
  flex: 1;
  @media screen and (min-width: 350px) {
    min-width: 300px;
  }
}
// TODO more layout here, have challenges stack on left and titles on right on large enough screen
