<div class="page-container center">
  <img src="/images/logo-white.png" height="200" />
  <h1>Arcana Sound</h1>
  <form class="flex column" [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Citizen ID</mat-label>
      <input formControlName="playerCode" type="text" placeholder="Citizen ID" matInput />
    </mat-form-field>
    <button type="submit" [disabled]="form.invalid" matButton="outlined">Login</button>
    <span class="error-text">
      @if (error()) {
        {{ error() }}
      }
    </span>
  </form>
</div>
