@use '@angular/material' as mat;
.error-text {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: var(--mat-sys-error);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--mat-sys-surface-container);
  padding: 0.5rem;
  max-height: 70px;
  a {
    all: unset;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @include mat.form-field-density(-3);
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .title {
    max-width: 140px;
  }
}
