@use 'mixins' as *;

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  .wrap-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
    @include medium {
      flex-direction: row;
      flex-wrap: wrap;
    }
    & > * {
      flex-grow: 1;
    }
  }

  &.center {
    height: 100vh;    
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    @include outline;
    width: 100%;
    @include medium {
      width: revert;
    }

    .heading {
      margin-bottom: 1rem;
    }
  }
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
}
